.status-bar {
    display: flex;
    justify-content: center;
    }
    
    .status-bar__column {
        width: 33%;
}

.status-bar__column:first-child svg {
    margin-right: 30px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;

}

.status-bar__column:last-child {
    display: flex;
    justify-content: end;
}

.svg {
    width: 20%;
    height: 20%;
}