.status-bar {
    display: flex;
    justify-content: center;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child svg {
    margin-right: 30px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;

}

.status-bar__column:last-child {
    display: flex;
    justify-content: end;
}

.svg {
    width: 20%;
    height: 20%;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
    size: 20px;

}

li {
    list-style: none;
}

#menu1 {

    height: 60px;
    background-color: cadetblue;
}

#menu1 ul li {
    float: left;
    width: 33%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#menu1 ul li {
    display: block;
}

#menu1 ul li:hover {
    background-color: burlywood;
}